ul {
    border: solid hotpink 2px;
    border-radius: 17px;
    height: 330px;
    width: 170px;
    list-style-type: none;
    justify-content: space-evenly;
    font-family: 'Inter', sans-serif;
    font-size: .7rem;
    color: rgb(255, 0, 204);
    margin: 0;
    padding: 0;
}

img {
    width: 133px;
    border-radius: 6px;
}
